.ingredientList {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 15vh;
}

.ingredient-card {
  align-items: center;
  border: solid 1px black;
  border-radius: 5vh;
  box-shadow: 3px 3px rgb(196, 196, 196);
  display: flex;
  flex-direction: column;
  height: 14rem;
  justify-content: center;
  margin: 0.15rem;
  text-align: center;
  width: 11rem;
}

.recipe-img {
  border-radius: 2vh;
  width: 7rem;
}

.filter-btn {
  height: 5vh;
  margin: 1vh;
  width: 30vw;
}

.category-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 0;
}
