.Header {
  align-items: center;
  background-color: rgb(196, 196, 196);
  display: flex;
  width: 100%;
}

.Header h4 {
  font-size: 2rem;
  font-weight: 500;

  /* nao fica totalmente centralizado sem o icone de busca */
  margin: 0 auto;
}

.Header img {
  cursor: pointer;
  margin: 0.85rem;
}
