.login-container {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  margin: auto;
}

.login-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-around;
  margin-bottom: 20vh;
}

.user-email, .user-password {
  height: 10vh;
  margin: 2vh;
  width: 75vw;
}

.user-password-input {
  margin-bottom: 10vh;
}

.btn-login {
  background-color: rgb(108, 227, 79);
  border-radius: 20% 50%;
  box-sizing: border-box;
  height: 3rem;
  width: 4rem;
}
