.drink-card img {
  height: auto;
  width: 80%;
}

.drink-card p {
  margin-left: 5%;
}

.meal-card img {
  height: auto;
  width: 80%;
}

.meal-card p {
  margin-left: 5%;
}

.category {
  color: rgb(177, 177, 177);
}
